.checkit_tooltip {
    display: inline-block;
    position: absolute;
    width: 250px;
    z-index: 5;
    border: 1px solid #D8BA57;
    background: #FCFCDA;
    text-align: left;
    padding: 5px;
}

.checkit_tooltip .ct_title {
    font-size: 120%;
    font-weight: bold;
    line-height: 1.5;
}

.checkit_tooltip .ct_more {
    float: right;
}
