.checkit_tooltip {
    display: inline-block;
    position: absolute;
    width: 250px;
    z-index: 9000;
    border: 1px solid #D8BA57;
    background: #FCFCDA;
    text-align: left;
    padding: 5px;
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
}

.checkit_tooltip * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: #000000;
    line-height: normal;
}

.checkit_tooltip .ct_desc ol {
    list-style: list-item;
}
.checkit_tooltip .ct_desc ul {
    list-style: list-item;
}
.checkit_tooltip .ct_desc li {
    margin-left: 1.5em;
}

.checkit_tooltip .ct_title {
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 2px;
}

.checkit_tooltip .ct_more {
    float: right;
}
.checkit_tooltip .ct_more a {
    color: #215DA9;
    font-weight: 600;
    text-decoration: underline;
}
.checkit_tooltip .ct_more a:visited {
    color: #215DA9;
}

.checkit_tooltip .ct_close {
    width: 13px;
    height: 13px;
    float: right;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAIAAAD9iXMrAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAABmSURBVChTY/j///+Nh6/3n7m6dvcJTAQUB8oC1TAAKawqkAWBahhwmYSsDqiGAc4HGg4EuLjo6iBKIXqQtSHUwaV//fmDpggohaIOyIcoApJoniPdPGQ34XMfAf8SG37ExgeR8QsAopaUVS/4neAAAAAASUVORK5CYII=);
}
