.checkit_tooltip {
    display: inline-block;
    position: absolute;
    width: 250px;
    z-index: 5;
    border: 1px solid #D8BA57;
    background: #FCFCDA;
    text-align: left;
    padding: 5px;
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
}

.checkit_tooltip .ct_title {
    font-size: 115%;
    font-weight: bold;
    line-height: 1.5;
}

.checkit_tooltip .ct_more {
    float: right;
}
