body {
    width: 250px
}

.switch {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 105px;
    height: 30px;
    vertical-align: middle;
}

.switch .background {
    background: url('../resources/images/switch-background.png');
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 161px;
    height: 30px;
}
